{% extends 'base.html' %}
{% load static%}

{% block title%}
    <title>create</title>
    <link rel="stylesheet" href="../static/create.css">
{% endblock title %}

{% block contents%}
    <div class="photo_zone">
        <form action="{% url 'create' %}" enctype="multipart/form-data" method ="POST"   >
            {% csrf_token %}
            <p>이름 :</p>
            <input type="text" name ="name">
            <p>설명 :</p>
            <input type="text" name = "explain">
            <p>사진</p>
            {{form.photo}}
            <input type="submit" value="추가하기" name = "submit">
        </form>
    </div>
{% endblock contents %}