{% extends 'base.html' %}
{% load static%}

{% block title%}
    <title>Gallery</title>
    <link rel="stylesheet" href="../static/home.css">
{% endblock title %}


{% block contents%}
    <nav>
        <div class= 'scroll'>
            <button class="scroll_func" id="bottom" style=" outline: none; border: 0px; background-color: white;"><img src="../static/위로.png" width="20px"></button> 
            <button class="scroll_func" id="top" style="outline: none; border: 0px; background-color: white;"><img src="../static/아래로.png" width="20px"></button>
        </div>

    </nav>
    <div class = 'outline'><img src="../static/top.png" width="100%" height="500px" >
        <div class="manin_title">
            <p>MH's Gallery</p>
            <a href="{% url 'create'%}" class="add">Add photo</a>
        </div>
    </div>

    <div style="display: flex; flex-direction: row; width: 100%; height: 500px; flex-wrap: wrap;">
    {% for i in picture_key.all %}

        <div class = 'photo_zone'>
            <p style="text-align: center;">{{i.name}}</p>
            {%if i.photo%}
            <div style="text-align: center;">
                <img src="{{i.photo.url}}" style="width: 400px;" title="{{i.date}}&#10{{i.explain}}">
            </div>
            {%endif%} 
            <div style="display: flex; flex-direction: column;"></div>
            <div style="padding-top: 30px; text-align: center;">
                <a href="{% url 'update' i.id %}">Modify</a>
                <a href="{% url 'delete' i.id %}">Delete</a>
            </div>

        </div>
    {% endfor %}
    </div>
    <script src="../static/home_scroll.js"></script>
{% endblock contents %}