{% extends 'base.html' %}
{% load static%}

{% block title%}
    <title>Modify</title>
    <link rel="stylesheet" href="../static/update.css">
{% endblock title %}

{% block contents%}
<nav>
    <div class= 'scroll'>
       <a href="../">Back</a>
    </div>
</nav>
<div class="photo_zone">
    <form enctype="multipart/form-data" method="POST"   >
        {% csrf_token %}
        <p>Name :</p>
        <textarea cols="50" rows="1"  name ="name">{{update_key.name}}</textarea>
        <p>Explain : </p>
        <textarea cols="70" rows="9" name="explain">{{update_key.explain}}</textarea>
        <p>Photo</p>
        <img src="{{update_key.photo.url}}" style="width: 400px;" title="{{update_key.explain}}&#10어허">
        {{form.photo}}
        <input type="submit" value="Modify" name='submit'>
    </form>
</div>
{% endblock contents %}